body{
    margin:0 auto ;
    background-color: rgb(252, 167, 167);
}
.container
{
    
    max-width: 100%;
    height: auto;
    background-color: rgb(255, 241, 241);
    margin:auto;
}
.logo
{
float: left;
max-width: 100%;

}
.search
{
    float: right;
    padding: 25px;
}
.clearfix
{
    clear: both;
}
.main-menu
{
    background-color:rgb(53, 26, 8);
}
.main-menu>ul
{
    margin: 0px;
    padding: 0px;
}
.main-menu>ul>li{
    display: inline-block;
}
.main-menu>ul>li>a{
    color: rgb(255, 255, 255);
    text-decoration:none ;
    display: block;
    padding: 15px;
    font-size: bold;
    font-family: cursive;
}
.main-menu>ul>li>a:hover
{
    background-color: rgb(185, 61, 23);
    font-size: 15px;
    transition: all 1s;
}
.drop-down
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: none;
}
.drop-down>li>a{
    color: rgb(255, 255, 255);
    text-decoration:none ;
    display: block;
    padding: 15px;
    font-size: bold;
    font-family: cursive;
    background-color:rgb(53, 26, 8);
}
.drop-down>li>a:hover{
    background-color: rgb(185, 61, 23);
    font-size: 15px;
    transition: all 1s;
}
.main-menu>ul>li:hover .drop-down
{
    display: block;
}
.banner{
    max-width: 100%;
    height: auto;
    overflow: hidden;

}
.banner img{
  max-width: 100%;
    height:auto ;
}
.content
{
background-color: rgb(255, 215, 189);
}
.content-art
{
   max-width: 75%;
    height: auto;
    padding: 25px;
    background-color: cornsilk;
    float: left;
}
.content-art h1{
    font-size: 30px;
    font-family: cursive;
}
.content-art p{
    font-size: 15px;
    font-family: cursive;
}
.side
{
float: left;
padding: 25px;
}
.side h1{
    font-family: cursive;
    color: rgb(53, 26, 8);
}
.side ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.side ul>li>a
{
    display: block;
    margin-bottom: 5px;
    font-family: cursive;
    font-style: italic;
    color: rgb(151, 79, 11);
}
.foot
{
    background-color:rgb(63, 25, 11) ;
    color: rgb(255, 255, 255);
  max-width: 100%;
    height: auto;
    padding: 25px;
}
.last
{
    width:257.5px;
    height: auto;
    float: left;
    font-family: cursive;
}
.last>ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.last>ul>li>a{
    font-size: small;
    display: block;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.last address a{
color:rgb(250, 117, 117);
font-size: small;

}
.copy
{
    font-size: 20px;
    font-family: fantasy;
    padding: 6px;
    text-align:center;
    background-color: rgb(255, 198, 164);
    color: rgb(185, 61, 23);
}
.content img{
    max-width: 100%;
}
.banner iframe
{
    width:100%;
    height:500px;
}